@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shake:hover{
  animation: Shake 1s linear infinite; 
}
@keyframes Shake { 
  0% { 
      transform: rotate(5deg); 
  } 

  25% { 
      transform: rotate(-6deg); 
  } 

  50% { 
      transform: rotate(5deg); 
  } 

  75% { 
      transform: rotate(-6deg); 
  } 

  100% { 
      transform: rotate(5deg); 
  } 
}